/*   NORMALIZE   */
* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  vertical-align: baseline;
}
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
*:disabled {
  color: inherit;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6fa73e;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #6fa73e70;
}

/*   GLOBALS  */
html {
  background-color: #e7f3de;
  font-size: 62.5%;
  line-height: 1.15;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
body {
  width: 100%;
  height: 100%;
}
#root {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  max-width: 180rem;
  height: 100vh;
  margin: 0 auto;
  font-size: clamp(1.7rem, 1.75rem, 2vw);
  border-radius: 2rem;
  box-shadow: 0 0 5rem 2rem #4a583f10;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.15;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background: none;
  cursor: pointer;
  font-size: inherit;
}
input,
select {
  max-width: 100%;
  background: transparent;
  font-size: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #badb9d inset;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

/*   HELPERS   */
.flex-row {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}
.fw-bold {
  font-weight: bold;
}
.btn__primary {
  background-color: #fff;
  color: #6fa73e;
  padding: 1.3rem 3rem;
  font-size: 0.9em;
  text-transform: capitalize;
  box-shadow: 0 2rem 2rem #2132121d;
  font-weight: bold;
  border: 0.2rem solid #fff;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.btn__primary:hover {
  background: transparent;
  backdrop-filter: blur(0.2rem);
  border: 0.2rem solid #fff;
  box-shadow: 0 3rem 2.5rem #2132121d;
}
.btn__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 3rem;
  background-color: #6fa73e;
  border: 0.2rem solid #6fa73e;
  color: #fff;
  transition: background 0.2s ease-in-out;
}
.btn__action .hover {
  transition: all 0.3s ease-in-out;
}
.btn__action:hover {
  background-color: #fff;
  color: #6fa73e;
}
.btn__action:hover .hover {
  transform: scale(1.2);
}

table {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: auto;
}
table thead th {
  border-bottom: 0.2rem solid #6fa73e;
  padding: 2rem;
  font-size: 1.1em;
  vertical-align: middle;
}
table tbody tr {
  border: 3px solid #6fa73e;
  transition: all 0.2s ease-in-out;
}
table tbody tr:hover {
  background-color: #f3ffea;
}
table tbody tr td {
  padding: 1.5rem 1rem;
  text-align: center;
  vertical-align: middle;
}
table tbody th {
  vertical-align: middle;
}
.img-rounded {
  border-radius: 1rem;
  overflow: hidden;
}
table .img-rounded {
  max-width: 7rem;
  max-height: 7rem;
  margin: 0 auto;
}
.img-rounded img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__input {
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 0.2rem solid #6fa73e;
  transition: all 0.3s ease-in-out;
}

/*  HEADER */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 3rem;
}
.header .header__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header .header__left p {
  /* text muted */
  color: rgb(112, 112, 112);
}
.header .header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.header .header__right .header__action {
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 1rem;
  box-shadow: 0 3rem 3rem #1f2f1218;
  color: #707070;
  transition: all 0.3s ease-in-out;
}
.header .header__right .header__action i {
  font-size: 1.1em;
  position: relative;
}
.header .header__right .header__action:hover {
  transform: scale(1.1);
  box-shadow: 0 4rem 3rem #1f2f1218;
}
.header .header__right .header__action--badge {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  color: #000;
  background-color: #c0f198;
  padding: 0.2rem 0.5rem;
}
.header .header__right .header__action--search {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 3rem 7rem #1f2f1218;
}
.header .header__right .header__action--search input {
  width: 100%;
}
.header .header__right .header__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header .header__right .header__profile .header__action--profile {
  width: 4.3rem;
  height: 4.6rem;
  padding: 0;
  overflow: hidden;
}
.header .header__right .header__profile .header__action--profile img {
  height: 100%;
  object-fit: cover;
}

/* CHAT */
.chat {
  opacity: 0;
  visibility: hidden;
  transform: translate(35%, -60%) scale(0);
  background-color: #fff;
  position: absolute;
  top: 10%;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  max-height: 100%;
  max-width: 40rem;
  padding: 2rem 0;
  border-radius: 2rem;
  box-shadow: 0 3.5rem 4rem 1rem rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
}
.chat .chat__header {
  text-align: center;
  font-size: 1.4em;
  padding: 0.5rem 3rem 2rem 3rem;
  color: #50792c;
  border-bottom: 0.3rem solid #e8e8e8;
  position: relative;
}
.chat .chat__header .chat__header__icon {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  font-size: 0.9em;
  color: #50792c;
  transition: all 0.2s ease-in-out;
}
.chat .chat__header .chat__header__icon:hover {
  transform: scale(1.1);
}

.chat .chat__main {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 1rem;
  border-bottom: 0.3rem solid #e8e8e8;
  max-height: 50vh;
  overflow-y: auto;
}
.chat .chat__main .chat__message {
  display: grid;
  gap: 1rem;
}
.chat .chat__main .chat__message span {
  font-weight: bold;
}
.chat .chat__main .chat__message .chat__message__text {
  background-color: #83897d;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  max-width: 85%;
}
.chat .chat__main .chat__message .chat__message__time {
  color: #797979;
}
.chat .chat__main .chat__message.chat__message--own {
  place-items: end;
}
.chat .chat__main .chat__message.chat__message--own .chat__message__text {
  background-color: #6fa73e;
}

.chat__reply {
  padding: 2rem 3rem;
}
.chat__reply .btn__action {
  margin-top: 1rem;
}
.chat.chat--open {
  transform: translate(0) scale(1);
  opacity: 1;
  visibility: visible;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 3rem;
  border-right: 0.3rem solid #eeeeee;
  overflow-y: auto;
  width: 30rem;
  transition: all 0.3s ease-in-out;
}
.sidebar .sidebar__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #6fa73e;
  gap: 1.5rem;
}
.sidebar .sidebar__header button i {
  color: #6fa73e;
  font-size: 1.4em;
  font-weight: bold;
}
.sidebar .sidebar__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 5rem;
}
.sidebar .sidebar__body .nav-subtitle {
  font-weight: bold;
  margin-top: 4rem;
  font-size: 0.85em;
}
.sidebar.sidebar-toggle {
  width: 6rem;
}
.sidebar.sidebar-toggle h1,
.sidebar.sidebar-toggle .logo,
.sidebar.sidebar-toggle .nav-subtitle,
.sidebar.sidebar-toggle span,
.sidebar.sidebar-toggle .sidebar__card {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav__list.nav__list--secondary {
  margin-top: 1rem;
  gap: 0;
}
.nav__list .nav__item {
  position: relative;
  font-size: 0.95em;
}
.nav__list .nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
  margin: auto;
  width: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 0;
  background-color: #6fa73e;
  transition: height 0.2s ease-in-out;
}
.nav__list .nav__item:hover .nav__link {
  color: #6fa73e;
}
.nav__list .nav__item:hover::before {
  height: 100%;
}
.nav__list .nav__item.nav__item--active .nav__link {
  color: #6fa73e;
}
.nav__list .nav__item.nav__item--active::before {
  height: 100%;
}
.nav__list .nav__item .nav__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  color: #8a8a8a;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.nav__list .nav__item .nav__link i {
  font-size: 1.4em;
}

.sidebar .sidebar__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  max-height: 100%;
  gap: 2rem;
  background: url(./assets/img/blob-scene-haikei.svg) center center no-repeat;
  background-size: cover;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  text-align: center;
}
.sidebar .sidebar__card .sidebar__card__icon {
  position: relative;
  top: -4.5rem;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  padding: 2rem 1.9rem;
  box-shadow: 0 4.5rem 4rem #5165417d;
  overflow: hidden;
}
.sidebar .sidebar__card .sidebar__card__icon span {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  background-color: #c0f198;
  box-shadow: 0 1rem 0.8rem #51654127;
  padding: 0.5rem 1.3rem;
}
.sidebar .sidebar__card .sidebar__card__text {
  position: relative;
  top: -2rem;
}
.sidebar .sidebar__card .sidebar__card__text h4 {
  font-size: 1.1em;
  font-weight: bold;
}
.sidebar .sidebar__card .sidebar__card__text p {
  margin-top: 1rem;
  font-size: 0.85em;
  color: #28282882;
}
.sidebar .sidebar__card .btn__primary {
  color: #000;
}

/* MAIN */
.main {
  grid-area: main;
  padding: 2rem 3rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section .section__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.section .section__header a {
  color: #636363;
  font-size: 0.9em;
}

.products {
  max-width: calc(90rem + 6rem);
}
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: 3rem;
}
.card__product {
  display: grid;
  place-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 5rem;
  border: 0.1rem solid #bfd6aa;
  border-radius: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.card__product a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.card__product img {
  object-fit: cover;
  clip-path: polygon(
    50% 0,
    99% 0,
    100% 17%,
    99% 56%,
    100% 97%,
    93% 100%,
    1% 100%,
    0 59%,
    0 25%,
    0 1%
  );
}
.card__product:hover {
  transform: scale(1.01);
  box-shadow: 0 4rem 5rem 1.5rem rgba(0, 0, 0, 0.05);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 70rem) {
  #root {
    position: relative;
  }
  .sidebar {
    width: 6rem;
  }
  .sidebar h1,
  .sidebar .logo,
  .sidebar .nav-subtitle,
  .sidebar span,
  .sidebar .sidebar__card {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .sidebar.sidebar-toggle {
    position: absolute;
    inset: 0;
    width: 27rem;
  }
  .sidebar.sidebar-toggle h1,
  .sidebar.sidebar-toggle .logo,
  .sidebar.sidebar-toggle .nav-subtitle,
  .sidebar.sidebar-toggle span,
  .sidebar.sidebar-toggle .sidebar__card {
    display: inherit;
    visibility: visible;
    opacity: 1;
  }

  .header {
    flex-direction: column-reverse;
  }
  .header .header__right {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media only screen and (max-width: 37rem) {
  .header .header__right .header__action--search,
  .header .header__right .header__profile {
    width: 100%;
    justify-content: end;
  }
  .chat {
    z-index: 9999;
    inset: 0;
    margin: auto;
    width: 90%;
    height: 90%;
  }
}
