<div
  class="max-w-4xl mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2"
>
  <div class="overflow-x-auto col-start-1 col-end-3">
    <h1 class="text-3xl text-center font-bold mb-5">Stock de Productos</h1>

    {{#if prods}}
      <table class="table w-full">
        <thead>
          <tr class="bg-base-100">
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <th>Imágen del producto</th>
            <th>Nombre del producto</th>
            <th>Precio</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {{#each prods}}
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
              <td>
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img src={{img}} alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
              </td>
              <td>
                {{title}}
              </td>
              <td>{{price}}</td>
              <th>
                <button class="btn btn-ghost btn-sm"><i
                    class="fa fa-brush"
                  ></i></button>
                <button class="btn btn-ghost btn-sm"><i
                    class="fa fa-trash"
                  ></i></button>

              </th>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3 class="text-center text-xl">No tienes productos en stock! Agrega desde
        <a class="link font-bold" href="AgregarProducto">aquí</a></h3>
    {{/if}}
  </div>

</div>