<!-- SIDEBAR NAV-->
<aside class="sidebar">
  <div class="sidebar__header">
    <button id="toggleMenu">
      <i class="feather icon-menu"></i>
    </button>
    <h1>Admin.</h1>
  </div>
  <div class="sidebar__body">
    <div class="sidebar__navs">
      <nav class="sidebar__nav">
        <ul class="nav__list">
          <li class="nav__item <%= page_name === 'index' && 'nav__item--active' %>"">
            <a href="/" class="nav__link">
              <i class="feather icon-home"></i>
              <span>Inicio</span>
            </a>
          </li>
          <li class="nav__item <%= page_name === 'products' && 'nav__item--active' %>">
            <a href="Productos" class="nav__link">
              <i class="feather icon-box"></i>
              <span>Productos</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-clipboard"></i>
              <span>Pedidos</span>
            </a>
          </li>
        </ul>
      </nav>
      <p class="nav-subtitle">CONFIGURACIONES</p>
      <nav class="sidebar__nav">
        <ul class="nav__list nav__list--secondary">
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-credit-card"></i>
              <span>Métodos de Pago</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-file"></i>
              <span>Envíos</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-tag"></i>
              <span>Marcas</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-file-text"></i>
              <span>Contactos</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-user"></i>
              <span>Cuenta</span>
            </a>
          </li>
          <li class="nav__item">
            <a href class="nav__link">
              <i class="feather icon-settings"></i>
              <span>General</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="sidebar__card">
      <div class="sidebar__card__icon">
        <span>?</span>
      </div>
      <div class="sidebar__card__text">
        <h4>Centro de Ayuda</h4>
        <p>Ante cualquier inconveniente o duda, no dudes en contactarnos.</p>
      </div>
      <div class="sidebar__card__action">
        <a href="#" class="btn btn-primary"> Solicitar ayuda </a>
      </div>
    </div>
  </div>
</aside>

<script src="js/script.js"></script>
