extends ../layouts/main.pug

block content
    div.hero.min-h-screen.bg-base-100
          div.hero-overlay.bg-opacity-60
          div.hero-content.text-center.text-neutral-content
            div.max-w-md
              h1.mb-5.text-5xl.font-bold Bienvenido
              a.btn.btn-primary(href='AgregarProducto') Agregar Producto
              a.btn.btn-secondary(href='Productos') Stock de Productos