<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin. | Inicio</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/feather.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;0,600;0,700;0,800;1,500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>

    <!-- HEADER NAV -->
    <header class="header">
      <div class="header__left">
        <h1>Bienvenido de nuevo!</h1>
        <p>Hola <span id="user"></span>, bienvenido de nuevo!</p>
      </div>
      <div class="header__right">
        <div class="header__action header__action--search">
          <i class="feather icon-search"></i>
          <input type="search" placeholder="Buscar en el panel" />
          <button class="filter__button">
            <i class="feather icon-sliders"></i>
          </button>
        </div>
        <div class="header__profile">
          <button class="header__action" id="toggleChat">
            <i class="feather icon-message-square"
              ><span class="header__action--badge" id="msgQuantity"></span
            ></i>
          </button>
          <button class="header__action" id="btnLogout">
            <i class="feather icon-log-out"></i>
          </button>
          <a href="" class="header__action header__action--profile">
            <img id="userImg" src="" alt="Imagen de perfil" />
          </a>
        </div>
      </div>
      <!-- CHAT -->
      <div class="chat">
        <div class="chat__header">
          <h5>Chat del equipo</h5>
        </div>
        <ul class="chat__main" id="chatList"></ul>
        <div class="chat__reply">
          <form id="sendMessage" class="flex-column gap-1">
            <input
              type="email"
              name="email"
              class="form__input"
              placeholder="ejemplo@gmail.com"
              required
            />
            <input
              type="text"
              name="message"
              id="message"
              class="form__input"
              placeholder="Mensaje"
              required
            />
            <button class="btn__action" type="submit">
              <div class="hover">
                <i class="feather icon-mail"></i> <span>Enviar mensaje</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main"></main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/auth.js" type="module"></script>
    <script src="js/chat.js" type="module"></script>
  </body>
</html>
