<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesi칩n</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <main class="min-h-screen flex items-center justify-center bg-gray-100">
      <div
        class="w-full max-w-md space-y-5 py-14 px-8 bg-white shadow-xl rounded-lg"
      >
        <div>
          <h1 class="text-center text-2xl font-bold mb-10 text-gray-700">
            游낑 STREET WEAR
          </h1>
          <h2 class="text-2xl font-medium text-gray-700">
            Bienvenido de nuevo! 游녦游낕
          </h2>
          <p class="text-gray-500 mt-2">
            Por favor, inicia sesi칩n para poder ingresar al sistema.
          </p>
        </div>

        <!-- <form class="" action="/api/auth/login" method="POST"> -->
        <form onsubmit="Login(event)">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email *"
            class="w-full p-3 mb-5 rounded-md border-2 border-gray-200 transition-all focus:outline-0 focus:border-green-400 focus:border-2"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contrase침a *"
            class="w-full p-3 mb-2 rounded-md border-2 border-gray-200 transition-all focus:outline-0 focus:border-green-400 focus:border-2"
            required
          />
          <p class="text-right mb-10 text-md">
            쯅o tienes cuenta?
            <a href="Registrarse" class="font-bold">Reg칤strate</a>
          </p>

          <div role="alert" class="hidden mb-5" id="errorMessageBox">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
              Error
            </div>
            <div
              class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
            >
              <p id="errorMessage"></p>
            </div>
          </div>

          <button
            type="submit"
            id="btnLogin"
            class="py-2 px-3 w-full bg-green-700 rounded-md shadow-md text-white tracking-wide font-bold transition-all hover:shadow-lg hover:bg-green-500"
          >
            INGRESAR
          </button>
        </form>
      </div>
    </main>

    <script>
      const errorMessage = document.getElementById('errorMessage');
      const errorMessageBox = document.getElementById('errorMessageBox');

      function Login(event) {
        event.preventDefault();
        const { email, password } = event.target.elements;
        axios
          .post('http://localhost:8080/api/auth/login', {
            email: email.value,
            password: password.value,
          })
          .then((resp) => {
            if (resp.request?.responseURL.includes('success')) {
              window.location.href = '/';
            } else if (resp.request?.responseURL.includes('error')) {
              errorMessage.innerHTML = 'Usuario y/o contrase침a incorrecta';
            }
          })
          .catch((error) => {
            if (error.request?.responseURL.includes('success')) {
              window.location.href = '/';
            } else if (error.request?.responseURL.includes('error')) {
              errorMessageBox.classList.toggle('hidden');
              errorMessage.innerHTML = 'Usuario y/o contrase침a incorrecta';
            } else {
              errorMessageBox.classList.toggle('hidden');
              errorMessage.innerHTML =
                'Algo sali칩 mal al intentar Iniciar Sesi칩n. Por favor, intenta nuevamente';
            }
          });
      }
    </script>
  </body>
</html>
