<html lang="en" data-theme="corporate">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STREET WEAR</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {{> navbar}}

    <main class="bg-base-200 min-h-full">
      {{{body}}}
    </main>

    <script src="https://cdn.tailwindcss.com"></script>

  </body>
</html>